@import '../../styles/variables.scss';

        
    h1:before {
        content: 'VEIVISER';
        display: block;
        font-size: 1.2rem;
        color: #bbb
    }
    p {
        font-size: 1.2rem;
    }
