@import '../../styles/variables.scss';


.content {
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   > div {
    margin: 20px 0;
   }



   .btn {
      background-color: transparent;
      border: none;
      display: inline-block;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
      border-radius: 4px;
      display: flex;
      align-items: center;
      &:hover {
        filter: invert(28%);
     }   

      > div {
         width: 40px;
         height: 40px;
      }
      .reset {
        background: url(../../assets/gfx/icon-reset.svg) no-repeat center;
        width: 40px;
        height: 37px;
      }

      svg {
         width: 40px;
         height: 40px;

         fill: $primary-dark-blue;
         -webkit-transition-duration: 0.4s;
         /* Safari */
         transition-duration: 0.4s;
      }

      #up {
         background-color: green;
      }
   }

   label {
      &.hidden {
         visibility: hidden;
         position: absolute;
         width: 0;
      }
   }

   .btn:hover {
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);      

      svg {
         fill: $primary-light-blue;         
      }
   }

   .widthLabel {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
   }

   .directions {
      display: block;
      position: relative;
      width: 150px;
      height: 150px;
      text-align: center;

      .arrow {
        background: url(../../assets/gfx/icon-arrow.svg) no-repeat center;
        width: 40px;
        height: 37px;
      }

      //right
      :nth-child(1) {
         button {
            position: absolute;
            top: 42px;
            left: 93px;
         }

      }

      //up
      :nth-child(2) {
         button {
            position: absolute;
            top: 85px;
            left: 50px;
         }
      }

      //left
      :nth-child(3) {
         button {
            position: absolute;
            top: 42px;
            left: 10px;
         }
      }

      // down
      :nth-child(4) {
         button {
            position: absolute;
            top: 0;
            left: 50px
         }
      }
    //house in the middle
      :nth-child(5) {
         position: absolute;
         top: 40px;
         left: 48px;

      }
      :nth-child(6) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

     }

   }

   .rotateOnce {
      transform: rotate(90deg);
   }

   .rotateTwice {
      transform: rotate(180deg);
   }

   .rotateThird {
      transform: rotate(270deg);
   }

   .rotateIcon {
      width: 30px;
   }

   button {
      display: flex;
      cursor: pointer;
      background-color: transparent;
      border: none;
      display: inline-block;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      border-radius: 4px;
      margin: 0;
      padding: 0;

      &:hover {
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

         svg {
            fill: $primary-light-blue;
         }
      }
   }

   .house3d {
      background: url(../../assets/gfx/icon-house-3d.svg) no-repeat center;
      width: 40px;
      height: 37px;
      margin: 5px;
   }

   .rotations {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      flex-wrap: wrap;
    
      :last-child {
        width: 100%;
        text-align: center;
      }

      button {
         width: 40px;
         height: 40px;  
         &:hover {
            filter: invert(28%);
         }                  
      }

      .left {
         background: url(../../assets/gfx/icon-rotate.svg) no-repeat center;
         
      }

      .right {
         transform: scaleX(-1);
         background: url(../../assets/gfx/icon-rotate.svg) no-repeat center;
      }
   }

   .elevations {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
         width: 40px;
         height: 40px;         
      }

      .up {
         transform: rotate(-90deg);
         background: url(../../assets/gfx/icon-arrow.svg) no-repeat center;        
         
      }

      .down {
         transform: rotate(90deg);
         background: url(../../assets/gfx/icon-arrow.svg) no-repeat center;
      }
   }
   .spm {
    font-size: 1rem;

    .spmIcon {
        width: 40px;
         height: 40px;  
        background: url(../../assets/gfx/icon-spm.svg) no-repeat center;
        &:hover {
            cursor: pointer;
        }
    }
    .textbox {
        width: 300px;
        position: fixed;
        z-index: 1;
        background-color: white;
        border-radius: 4px;

    }
   }
}
.showInfo {
    font-size: .9rem;
    display: block;  
    position: relative;    
    overflow: hidden;
    background-color: white;
    left: 200px;
    z-index: 1;
    width: 200px;
    bottom: 85px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid $primary-light-blue;
    animation: fadein .3s ease-in-out forwards;   
    box-shadow: $box-shadow;
}
@keyframes fadein{
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
      background-color: $bg;
    }
  }
.hideInfo {
    display: block;
    height: 0;
    position: fixed;
    overflow: hidden;
    
}