.mapboxgl-map.ready {
   opacity: 1;
   transition: all 1s;
}

.mapboxgl-popup {
   max-width: 360px !important;

   .mapboxgl-popup-content {
      padding: 18px;
   }
   
   .mapboxgl-popup-close-button {
      font-size: 24px;
      top: 6px;
      right: 3px;
   }
}